In [2]:
import pandas as pd

In [3]:
#csvデータの呼び出し場所
loadpath = "../titanic/input/"

In [4]:
#データ呼び出し
train = pd.read_csv(loadpath + "train.csv")
test = pd.read_csv(loadpath + "test.csv")
# train.set_index('PassengerId',inplace=True)
# test.set_index('PassengerId',inplace=True)
labels = train.Survived
train = train.drop('Survived', axis=1)

In [31]:
h5 = train['Embarked'].head(6)
h5[0] = pd.np.nan

## カテゴリ変数に欠損があった時のダミー化①か②かどっちがいいか？

元データ

In [32]:
h5

0    NaN
1      C
2      S
3      S
4      S
5      Q
Name: Embarked, dtype: object

①

In [33]:
pd.get_dummies(h5)

   C  Q  S
0  0  0  0
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

②

In [34]:
h5_2 = pd.get_dummies(h5)
h5_2.loc[0,:] = pd.np.nan
h5_2

     C    Q    S
0  NaN  NaN  NaN
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0
5  0.0  1.0  0.0

①だと欠損値が全て同じ値で補完してることになるから適切ではない気がする <br>
②は何らかの形で欠損を補完するときにはよさそう <br>
xgboostは欠損値を考慮してくれるから②のほうがよさそう(?)

欠損の種類がMNARだと思われるときには欠損値かどうかという属性を追加して以下のようにするのも有りかも

In [45]:
h5_3 = pd.get_dummies(h5)
h5_3['IsDefault'] = 1-h5_3.sum(axis=1)
h5_3

   C  Q  S  IsDefault
0  0  0  0          1
1  1  0  0          0
2  0  0  1          0
3  0  0  1          0
4  0  0  1          0
5  0  1  0          0