In [32]:
import keras 
import numpy as np
import pandas as pd
import os
import sklearn
import xgboost as xgb
import operator
import optuna

from functools import partial
from matplotlib import pylab as plt
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.preprocessing import LabelEncoder

# import warnings
# warnings.filterwarnings('ignore')
# def fxn():
#     warnings.warn("deprecated", DeprecationWarning)

# with warnings.catch_warnings():
#     warnings.simplefilter("ignore")
#     fxn()

In [33]:
#csvデータの呼び出し場所
loadpath = "../input/"
#csvデータの保存場所
savepath = "../output/"

In [55]:
#データ呼び出し
train = pd.read_csv(loadpath + "train.csv")
test = pd.read_csv(loadpath + "test.csv")
# train.set_index('PassengerId',inplace=True)
# test.set_index('PassengerId',inplace=True)
labels = train.Survived
train = train.drop('Survived', axis=1)

In [56]:
le = LabelEncoder()

In [58]:
train.loc[0,'Embarked'] = pd.np.nan

In [59]:
pd.get_dummies(train['Embarked'])

     C  Q  S
0    0  0  0
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
5    0  1  0
6    0  0  1
7    0  0  1
8    0  0  1
9    1  0  0
10   0  0  1
11   0  0  1
12   0  0  1
13   0  0  1
14   0  0  1
15   0  0  1
16   0  1  0
17   0  0  1
18   0  0  1
19   1  0  0
20   0  0  1
21   0  0  1
22   0  1  0
23   0  0  1
24   0  0  1
25   0  0  1
26   1  0  0
27   0  0  1
28   0  1  0
29   0  0  1
..  .. .. ..
861  0  0  1
862  0  0  1
863  0  0  1
864  0  0  1
865  0  0  1
866  1  0  0
867  0  0  1
868  0  0  1
869  0  0  1
870  0  0  1
871  0  0  1
872  0  0  1
873  0  0  1
874  1  0  0
875  1  0  0
876  0  0  1
877  0  0  1
878  0  0  1
879  1  0  0
880  0  0  1
881  0  0  1
882  0  0  1
883  0  0  1
884  0  0  1
885  0  1  0
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]